@inject IImageService _ImageService

<div class="axil-author-area axil-author-banner bg-color-grey">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="about-author">
                    <div class="media">
                        <div class="thumbnail">
                            <a href="#">
                                <img src="@_ImageService.ConvertByteArrayToFile(null, null, DefaultImage.AuthorImage)" alt="Author Images">
                            </a>
                        </div>
                        <div class="media-body">
                            <div class="author-info">
                                <h1 class="title"><a href="#">Adam Berry</a></h1>
                                <span class="b3 subtitle">Software Developer</span>
                            </div>
                            <div class="content">
                                <p class="b1 description">My name is Adam Berry and I am a software developer located in Winston-Salem, North Carolina. I have been learning and practicing building websites and applications including this blog! This blog is a place for me to write about coding topics I am interested in and share them with others. I primarily use JavaScript, C# and .NET to build my webpages and applications. Send me an email or check out my LinkedIn profile if you'd like to get in touch!</p>
                                <ul class="social-share-transparent size-md">
                                    <li><a asp-action="ContactMe" asp-controller="Home"><i class="far fa-envelope"></i></a></li>
                                    <li><a target="_blank" href="https://www.linkedin.com/in/adam-berry-890939246/"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>