@using X.PagedList.Web.Common;
@model IPagedList<MyBlog.Models.BlogPost>
@inject IImageService _ImageService
@inject IBlogService _BlogService

@{
    
    //BlogPost blogpost = await _BlogService.GetBlogPostsByCategory()
}

<!-- Start Author Area  -->
<partial name="_AuthorAreaPartial" />
<!-- End Author Area  -->
<!-- Start Post List Wrapper  -->
<div class="axil-post-list-area axil-section-gap bg-color-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-title">
                    <h2 class="title mb--40">Category: @ViewBag.CategoryName</h2>
                </div>
            </div>
            <!-- Start Post List  -->
            <div class="col-lg-8 col-xl-8">

                @foreach (BlogPost blogPost in Model.Where(b => b.IsPublished == true && b.IsDeleted == false))
                {
                    <partial name="_BlogCardPartial" model="blogPost" />
                }

                <div>
                    <div>
                        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                    </div>

                    @Html.PagedListPager(Model, pageNum => Url.Action("Details", new {pageNum, id = ViewBag.CategoryId}),
                    new PagedListRenderOptions {LiElementClasses = new string[] {"my-page-item"}, PageClasses = new string[] {"my-page-link"} })

                </div>

            </div>
            <!-- End Post List  -->
            <!-- Start Sidebar Area  -->
            <partial name="_SideBarPartial" />
            <!-- End Sidebar Area  -->



        </div>
    </div>
</div>
</div>
<!-- End Post List Wrapper  -->
